
//
// Checkbox
// -------------------------

.input-checkbox {
  &:active {
    background-color: @ac-00;
  }
  &:before,
  &:after {
    background-color: @bg-01;
  }
  &:checked {
    background-color: @ac-00;
  }

  &:indeterminate {
    background-color: @ac-00;
  }
}


//
// Radio
// -------------------------

.input-radio {
  &:before {
    background-color: @bg-01;
  }
  &:active {
    background-color: @ac-00;
  }
  &:checked {
    background-color: @ac-00;
  }
}


//
// Range (Slider)
// -------------------------

.input-range {
  &::-webkit-slider-thumb {
    background-color: @ac-00;
  }
}


//
// Toggle
// -------------------------

.input-toggle {
  &:checked {
    background-color: @ac-00;
  }
  &:before {
    background-color: @bg-01;
  }
}


//
// Select
// -------------------------

.input-select {
  .btn(@bg-10, @fg-10);
}
