
// Custom Properties

// Background
@bg-20: var(--bg-1);
@bg-10: var(--bg-2);
@bg-00: var(--bg-3); // <- Medium
@bg-01: var(--bg-4);
@bg-02: var(--bg-5);

// Foreground
@fg-20: var(--fg-1);
@fg-10: var(--fg-2);
@fg-00: var(--fg-3); // <- Medium
@fg-01: var(--fg-4);
@fg-02: var(--fg-5);

// Accent
@ac-20: var(--ac-1);
@ac-10: var(--ac-2);
@ac-00: var(--ac-3); // <- Medium
@ac-01: var(--ac-4);
@ac-02: var(--ac-5);

// Colors
@cl-info:    var(--cl-info);
@cl-success: var(--cl-success);
@cl-warning: var(--cl-warning);
@cl-error:   var(--cl-error);
